# following values replace inputs on tf scripts
# e.g, TF_VAR_location -> location
# see, https://www.terraform.io/docs/cli/config/environment-variables.html
export TF_VAR_location=""
export TF_VAR_resource_group_name=""
export TF_VAR_iothub_name=""
export TF_VAR_container_registry_name=""